image: python:3.8-alpine3.18

clone:
  depth: full

definitions:
  steps:
    - step: &build-app
        name: Build Function
        image: node:20.18-alpine3.19
        script:
          - apk add zip git openssh-client
          - eval $(ssh-agent)
          - echo "$IT_ENGINEERING_SSH_KEY" | base64 -d | ssh-add -
          - npm install && npm run build
          - cp -r package.json ./dist
          - cd dist && npm install --omit=dev
          - cd $BITBUCKET_CLONE_DIR
          - cd dist
          - zip -r $BITBUCKET_CLONE_DIR/code.zip .
        artifacts:
          - code.zip

    - step: &deploy-app
        name: Deploy Function
        script:
          - pipe: atlassian/aws-lambda-deploy:1.11.3
            variables:
              COMMAND: "update"
              ZIP_FILE: "code.zip"
              FUNCTION_NAME: ${BITBUCKET_REPO_SLUG}

    - step: &trigger-it-engineering-scans
        image: python:3.8-alpine3.18
        name: Execute IT Engineering Scans
        script:
          - pip3 install -r .ci/requirements.txt
          - python3 .ci/define_it_engineering_scans_context.py
          - source set_env.sh
          - pipe: docker://${IT_ENG_SCANS_AWS_ACCOUNT_ID}.dkr.ecr.${IT_ENG_SCANS_AWS_DEFAULT_REGION}.amazonaws.com/lar-trigger-it-engineering-scans-pipe:stable
            variables:
              BITBUCKET_ACCESS_TOKEN: ${BITBUCKET_ACCESS_TOKEN}
              PIPELINE_VARIABLES: "${IT_ENGINEERING_SCANS_VARIABLES}"
              CUSTOM_PIPELINE_NAME: "${IT_ENGINEERING_SCANS_PIPELINE_NAME}"

pipelines:
  branches:
    "{feature/*,bugfix/*,hotfix/*}":
      - parallel:
        - step: *trigger-it-engineering-scans
        - step:
            <<: *build-app
            deployment: aws-sandbox

    develop:
      - stage:
          name: Deploy on Sandbox
          deployment: aws-sandbox
          steps:
            - step: *build-app
            - step: *deploy-app

    homolog:
      - stage:
          name: Deploy on Non Prod
          deployment: aws-non-prod
          steps:
            - step: *build-app
            - step: *deploy-app

    main:
      - step: *trigger-it-engineering-scans
      - stage:
          name: Deploy on Prod
          deployment: aws-prod
          steps:
            - step: *build-app
            - step: *deploy-app
